/* Base
------------------------------------------------------*/

*
{
	margin: 0px;
	padding: 0px;
}

body
{
	background-color: #33393c;
	font: normal 0.75em/145% Arial, Tahoma, sans-serif;
	color: #33393c;
	text-align: left;
}

p
{
	margin: 0px 0px 10px 0px;
	line-height: 140%;
	color: #33393c;
}

a
{
	outline: none;
	text-decoration: underline;
}

a:hover
{
	text-decoration: none;
}

.hide
{
	display: none;
}

img
{
	border: 0px;
}


/* Clearing method
------------------------------------------------------*/

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}


/* Branding
------------------------------------------------------*/

#branding h1
{
	font: italic 2.1em Georgia, "Times New Roman", Times, serif;
	color: #fff;
	margin: 0px;
	padding: 20px 0px 20px 30px;
}

#branding h1 span
{
	font: italic 0.7em Georgia, "Times New Roman", Times, serif;
	color: #6da9d2;
}


/* page-navigation
------------------------------------------------------*/

#page-navigation
{
	background-color: #4a5154;
	padding: 12px 30px 12px 30px;
}

#page-navigation ul
{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#page-navigation ul.aright{
	float: right;
}
#page-navigation ul li
{
	float: left;
	margin: 0px 10px 0px 0px;
}

#page-navigation ul li a
{
	font: bold 1.0em Arial, Tahoma, sans-serif;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	padding: 4px 10px 4px 10px;
}

#page-navigation ul li a:hover
{
	color: #ff6600;
}

#page-navigation ul li.current a
{
	background-color: #ff6600;
	color: #fff;
}


/* page-content
------------------------------------------------------*/

#page-content
{
	background-color: #e6e6d2;
	padding: 20px 30px 30px 30px;
}

#page-content h1
{
	font: bold italic 2.0em Georgia, "Times New Roman", Times, serif;
	color: #33393c;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 1px 0px;
	border-bottom: 1px solid #33393c;
}

#page-content h2
{
	background-color: #33393c;
	font: bold 1.2em Arial, Tahoma, sans-serif;
	color: #fff;
	margin: 0px;
	padding: 12px 0px 12px 15px;
}

#page-content h2 span
{
	color: #6da9d2;
}
#page-content h2 span a{
	color: #6da9d2;
	border-bottom:1px dotted #6da9d2;
	text-decoration: none;
}
#page-content h3
{
	font: bold 1.0em Arial, Tahoma, sans-serif;
	color: #33393c;
	margin: 0px;
	padding: 8px 0px 8px 15px;
	border-bottom: 1px solid #33393c;
}

#page-content h3 a
{
	font: bold 1.0em Arial, Tahoma, sans-serif;
	color: #0099ff;
	text-decoration: none;
}

#page-content .inner-box
{
	background-color: #fff;
	padding: 30px;
}

#page-content .margin-top
{
	margin-top: 10px;
}


/* forms
------------------------------------------------------*/

#page-content label
{
	font: bold 1.2em Arial, Tahoma, sans-serif;
	color: #33393c;
	margin: 0px 0px 5px 0px;
	display: block;
}

#page-content input, #page-content textarea,#page-content select
{
	font: normal 1.5em Arial, Tahoma, sans-serif;
	color: #454545;
	margin: 0px 0px 15px 0px;
	padding: 5px;
	display: block;
	border: 1px solid #cccccc;
	width: 98%;
}

#page-content textarea
{
	font: normal 1.2em Arial, Tahoma, sans-serif;
	height: 300px;
}

#page-content input:focus, #page-content textarea:focus
{
	border: 1px solid #454545;
}

#page-content input.submit
{
	background-color: #0099ff;
	display: block;
	float: left;
	width: 140px;
	margin: 0px 10px 20px 0px;
	padding: 6px 0px 6px 0px;
	font: bold 1.1em Arial, Tahoma, sans-serif;
	color: #fff;
	text-transform: uppercase;
	border: 1px solid #fff;
}

#page-content input.reset
{
	background-color: #33393c;
}

#page-content input.draft
{
	background-color: #4A5154;
}

#page-content input.checkbox
{
	display:inline;
}


#page-content input.submit:hover
{
	background-color: #ff6600;
}

#page-content .short
{
	width: 35%;
}

#page-content .medium
{
	width: 60%;
}

#page-content .message{
	/*
	font: normal 1.5em Arial, Tahoma, sans-serif;
	color: #454545;
	margin: 0px 0px 15px 0px;
	padding: 5px;
	display: block;
	border: 1px solid #cccccc; 
	*/
	overflow: scroll;
	height: 250px;
}

/* Alerts
------------------------------------------------------*/

#page-content .success
{
	font: bold 1.1em Arial, Tahoma, sans-serif;
	color: #249901;
	padding: 10px 15px 10px 15px;
	margin: 5px 0px 5px 0px;
	border: 1px solid #84cd6e;
	background-color: #dff2d9;
}

#page-content .error
{
	font: bold 1.1em Arial, Tahoma, sans-serif;
	color: #f03a31;
	padding: 10px 15px 10px 15px;
	margin: 5px 0px 5px 0px;
	border: 1px solid #f03a31;
	background-color: #fad3c5;
}


/* form-block
------------------------------------------------------*/

#form-block
{
	position: relative;
	margin-right: 270px;
}

#form-block em
{
	color: #5c6163;
	display: block;
	margin: -12px 0px 12px 0px;	
}


/* table-block
------------------------------------------------------*/

#table-block
{
	position: relative;
	margin-right: 270px;
}


#table-block table
{
	width: 99%;
	position: relative;
	margin:10px auto;
}

#table-block table tr td:first-child{
	width:80%;
}

#table-block table tr td
{
	padding: 5px 6px 5px 6px; 
	border-bottom: 1px solid #cdcdcd;
}

#table-block table tr.header td
{
	font: bold 1.1em Arial, Tahoma, sans-serif;
	color: #fff;
	padding: 7px 6px 7px 6px; 
	background-color: #4a5154;
}

#table-block table tr.alternate
{
	background-color: #f5f5ed;
}

#table-block table tr.pending{
	font-weight: bold;
}

#table-block table td.true
{
	color: #009933;
}

#table-block table td.false
{
	color: #990000;
}

#table-block table td.actions
{
	color: #ccc;
}

#table-block table tr:hover
{
	background-color: #ffffd4;
}

#table-block table td.actions a
{
	font: bold 0.9em Arial, Tahoma, sans-serif;
	color: #0099ff;
	text-decoration: none;
	padding: 0px 2px 0px 2px;
	text-transform: uppercase;
}

#table-block table td.actions a.view{
	color: #009933;
}

#table-block table td.actions a.delete{
	color: #999;
}

#table-block table td.actions a:hover{
	color: #ff6600;
}

#table-block table tr.option input{
	width:100px; padding:none; font-size:11px; display:inline;
}


/* Grids
------------------------------------------------------*/

.option_grid_trigger{  background-color:#efefff; padding:5px; margin:10px; width:100%; border-left:1px solid #e0e0ff;border-top:1px solid #e0e0ff;  border-right:1px solid #e0e0ff; }


div.option_grid{ background-color:#efefff; padding:5px; margin:0 10px 10px 10px; width:100%; border-top:1px solid #e0e0ff;  border-bottom:1px solid #e0e0ff;}

.column{ float:left; margin:5px; background-color: #f7f7ff; padding:4px;  border:1px solid #e0e0ff;}
.grid_2 .column{width:47%;}
.grid_3 .column{width:29%;}
.grid_4 .column{width:22%;}


div.option_grid .column p.info{ font-size:11px; color: #666; line-height:12px;}

div.option_grid .grid_footer{ clear:left; position:relative;}

/* Password Prompt
------------------------------------------------------*/

#prompt_pass{ width:300px; height: 130px; border: 2px solid #222; margin:10px auto; padding:10px; background:#efefef;}
#prompt_pass h2{ font-size:15px; text-align:center;}
#prompt_pass h3{ font-size:12px; background:#e0e0e0;  text-align:center; margin-bottom:10px; }
#prompt_pass p.error{   text-align:center; height:15px; text-decoration:underline; color:#900; font-weight:bold;}
#file_password{ width:200px; display:block; margin:0 auto; padding:3px;}
#get_file{ float:right;}

/* Sidebar
------------------------------------------------------*/

#sidebar
{
	position: relative;
	width: 240px;
	float: right;
}

#sidebar ul
{
	margin: 0px;
	padding: 0px 0px 100px 0px;
	list-style: none;
	border-left: 1px solid #cdcdcd;
}

#sidebar ul li.head
{
	font: bold 1.4em Arial, Tahoma, sans-serif;
	color: #0099ff;
	text-transform: uppercase;
	padding: 15px 0px 15px 15px;
}

#sidebar ul li
{
	border-bottom: 1px solid #cdcdcd;
}

#sidebar ul li a
{
	background-color: #f2f2e8;
	display: block;
	font: normal 1.2em Arial, Tahoma, sans-serif;
	color: #33393c;
	text-decoration: none;
	padding: 8px 10px 8px 15px;
	height: 1%;
}

#sidebar ul li a:hover
{
	background-color: #e6e6d2;
}

#sidebar ul li.current a
{
	background-color: #fff;
	font: bold 1.2em Arial, Tahoma, sans-serif;
	color: #33393c;
	text-decoration: none;
	padding: 8px 10px 8px 16px;
	margin-left: -1px;
}




/* page-footer
------------------------------------------------------*/

#page-footer
{
	text-align: center;
	padding: 15px;
}

#page-footer p
{
	font: normal 0.9em/150% Arial, Tahoma, sans-serif;
	color: #fff;
}

#page-footer strong
{
	color: #69a2c8;
}

#page-footer a
{
	color: #fff;
}

/* Inicio paginacion */

div.pagination {
	text-align:center;
	padding: 7px;
	margin: 3px;
}

div.pagination a {
	padding: 2px 5px 2px 5px; 
	margin: 2px;
	border: 1px solid #4A5154;	 
	text-decoration: none;
	color: #4A5154;
}

div.pagination a:hover, div.pagination a:active {
	border: 1px solid #4A5154;
	background-color:#4A5154;
	color: #fff;
}

div.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin: 2px; 
	border: 1px solid #4A5154;
	font-weight: bold;
	background-color: #4A5154;
	color: #FFF;
}

div.pagination span.disabled {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #EEE;
	color: #DDD; 
}

/* Fin paginacion */
