body {
	background-color: #ddd;
	font-family: "helvetica neue",​arial,​sans-serif;
}

/*header*/
div#codice div#header > .header {
	padding:10px;
	margin:10px;
}

/*messages*/
div#codice div#messages > .messages {
	border:1px solid red;
	padding:10px;
	margin:10px;
}
/*content*/
div#codice div#content > .content {
	background-color:black;
}
/*entries*/
div#codice div#content div#entries {

}
/*entry*/
div#codice div#content div#entries > .entry {
	background-color:white;
	border-radius:10px;
	border:1px solid #bbb;
	padding:10px;
	margin:5px;
	font-size:0.9em;
	float:left;
}
div#codice div#content div#entries > .entry h3 {
	font-size:0.9em;
	font-weight: 400;
	text-transform: lowercase;
	padding:0px 0 0 5px;
}
div#codice div#content div#entries > .entry h3:first-letter {
	text-transform: capitalize;
}
div#codice div#content div#entries > .entry h3 a {
	color:black;
}
div#codice div#content div#entries > .entry .comments .comments-list {

}
div#codice div#content div#entries > .entry .comments .comments-list .comment {
	border-top: 1px solid #ddd;
	background-color: #dedede;
}

/*navigation*/
div#codice div#content div#navigation > .navigation {
	border:1px solid #f0f;
	padding:10px;
	margin:10px;
}

/*footer*/
div#codice div#footer > .footer {
	border:1px solid purple;
	padding:10px;
	margin:10px;
}

.debug {
	padding:0px;
	margin:0px;
	border:1px solid blue;
}
.debug > * {
	padding:0px;
	margin:0px;
	border:1px dashed red;
}
.debug > * > * {border:1px dashed blue;}
.debug > * > * > * {border:1px dashed green;}
.debug > * > * > * > * {border:1px dashed orange;}
.debug > * > * > * > * > * {border:1px dashed purple;}